body{
    background-color: lightcyan;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 7px;
    width:5%;
    background-color: lightcyan;
    

}
img{
    height: 200px;
}
h1{
    color: #FFAA4C;
    text-decoration: overline;
    text-shadow: 2px 2px 5px red;
}
h3{
    color: #FFAA4C;
    text-align: justify;
}